*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    line-height: 1.6;
}

.box{
    width: 1200px;  
    margin: auto;

    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.top{
    background-image: url(ima2/pexels-photo-13812120.jpeg);
    height: 200px;
    width: 1200px;
    max-width: auto;

    margin: auto;
    padding: auto;
}


.btn{
    width: 240px;
    
    float: left;
}

.map{
    width: 1200px;
    margin: auto;
    
    margin-left: auto;
    margin-right: auto;
}