*{
    margin: 0%;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header{
    display: flex;
    height: 103px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    border-bottom: 3px solid gray;
}

.header div{
    width: 80%;
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
}

.menu_pic{
    height: 100px;
}

.menu{
    display: flex;
    line-height: 100px;
}

.navi_a{
    padding: 0 30px;
    color: black;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navi_a:hover{
    color: rgb(230, 161, 71);
}

.sns{
    display: flex; 
    padding-top: 40px;
}

.sns li a{
    padding: 0 10px;
}

.tittle_pic{
    width: 100%;
    height: 570px;
    padding-top: 100px;
    background-image: url(./data/主視覺_banner_2400px.png);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 100%;
    background-attachment: fixed;
    text-indent: -9999px;
}
/* 上標與主視覺結束 */
.cont_tittle{
    padding-top: 60px;
    margin-left: 3%;
}
/* 影片橫幅 */
.tittle_pic_working{
    width: 100%;
    height: 300px;
    padding-top: 100px;
    background-image: url(./data/作品區橫幅.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 100%;
    background-attachment: fixed;
    color: aliceblue
}

.tittle_pic_working p{
    font-size: 50px;
    text-align: center;
    line-height: 300px;
}

/* 地圖橫幅 */

.tittle_pic_map{
    width: 100%;
    height: 300px;
    padding-top: 100px;
    background-image: url(./data/地圖橫幅.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 100%;
    background-attachment: fixed;
    color: black
}

.tittle_pic_map p{
    font-size: 50px;
    text-align: center;
    line-height: 300px;
}

/*  */
.post{
    display:block;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.time{
    height: 200px;
}
/* 固定位置 */

.base1{
    background-image: url(./data/img_personol/紀舒文＿一碗紅豆湯ㄉ獸性.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 100%;
    padding: 10px;
    background-attachment: fixed;
}

.base_desc{
    margin: 3% 15% 0 15%;
    font-size: 18px;
    color: rgb(39, 39, 39);
    line-height: 40px;
}

.base_desc h1{
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.base_desc h2{
    color: crimson;
}

.base_desc{
    margin-left: auto;
    margin-right: auto;
}

.base_desc span{
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
}

.base_desc h1{
    text-align: center;
}

.base_desc h2{
    padding: 30px 20% 0 20%;
}

.base_desc_italic{
    font-style: italic;
    color: rgb(136, 136, 136);

}

.base_desc p{
    display: block;
    padding: 0px 20%;
}

.cc{
    background-color: #d9d9d9;
    margin: 10px auto 0 auto;
    padding: 30px 10% 10px 10%;
    font-size: 18px;
    line-height: 40px;
}

.cp_bottom{
    display: flex;
}

.cp_item1{
    width: 75%;
}

/* 作品區 */
.pic_container1, .pic_container2{
    width: auto;
    display: flex;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.pic_container1{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid gray;
    margin-bottom: 20px;
    background-image: url(./data/貓.png);
    background-attachment: fixed;
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.pic-ls{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.pic-item{
    width: 25%;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 9px;
    list-style-type: none;
}

/* .pic-item > a{
    position: relative;
    display: block;
} */

.img-inner{
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
}

.img-inner img{
    width: 100%;
    height: 180px;
}

.pic-intro{
    border-top: 2px solid #551a8b;
}

.pic-title{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: black;
    list-style-type: none;
    align-items: baseline;
}

.Collection{
    font-size: 30px;
}

/* 成員名單區 */
.tittle_pic_list{
    width: 100%;
    height: 300px;
    padding-top: 100px;
    background-image: url(./data/名單橫幅.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 100%;
    background-attachment: fixed;
    color: black
}

.tittle_pic_list p{
    font-size: 50px;
    text-align: center;
    line-height: 300px;
}

.menbrane_box{
    display: flex;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px 0;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
    width: 30%;
    display: flex;
    border-bottom: 3px dotted black;
    padding: 30px 0 35px 0;
    margin: 10px;
    flex-direction: column;
}

.box-item1{
    display: block;
    width: 400px;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 28px;
}

.box-item2{
    display: block;
    width: 410px;
}

/* 贊助 */
.tittle_pic_cp{
    width: 100%;
    height: 300px;
    padding-top: 100px;
    background-image: url(./data/合作橫幅.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 100%;
    background-attachment: fixed;
    color: rgb(255, 255, 255)
}

.tittle_pic_cp p{
    font-size: 50px;
    text-align: center;
    line-height: 300px;
}

.cp_container{
    display: flex;
    padding-left: 30px;
    margin-top: 30px;
    justify-content: space-around;
}

.cp_container ul{
    display: flex;
    flex-wrap: wrap;
}

.cp_item{
    display: block;
    flex-wrap: wrap;
    width: 250px;
    margin-bottom: 40px;
    margin-left: 30px;
    height: 300px;
    margin: 0 40px 40px 40px;
}

.cp_item a{
    height: 200px;
}

.cp_img{
    display: flex;
    height: 180px;
}

.cp_img a img{
   height: 180px;
}

.cp_item img{
    margin-bottom: 10px;
    height: 180px;
 }

 .cp_tex{
    margin-top: 10px;
 }
